/****************** Mega menu css ********************/
.dropdown-mega{
    position: relative;
    &:hover .dropdown-mega-wrapper{
        position: absolute;
        display: block;
        top: 40px;
        left: 20px;
        width: 700px;
        height: 450px;
        z-index: 555;
        // transform: translateY(0);
        opacity: 1;
        
    }
}
        .dropdown-mega-wrapper{
            position: absolute;
            overflow: hidden;
            top: 20px;
            left: 20px;
            width: 700px;
            height: 0;
            // transform: translateY(-100%);
            background-color: #fff;
            transition: all .4s ease;
            z-index: -1;
            padding: 35px;
            opacity: 0;
            box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);;

            // .navbar-nav{
            //     position: relative;
            // }
            .mega-heading{
                font-size: 18px !important;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 2px;
                &:hover{
                    color: rgb(51, 47, 47) !important;
                    transform: translateX(0px) !important;
                }
                
            }
            .nav-item{
                // position: relative;
                font-family: Poppins, sans-serif;
                font-size: 13px;
                line-height: 32px;
                transition: all 0.7s ease;
                
                &:hover{
                    color: #a749ff;
                    transform: translateX(15px);
                    transition: all 0.7s ease;

                    &::before{
                        position: absolute;
                        z-index: 999;
                        top: 50%;
                        left: -10px;
                        transform: translateY(-50%);
                        display: inline-block;
                        width: 7px;
                        height: 7px;
                        content: "";
                        transition: all .7s ease-in-out 0s;
                        opacity: 1;
                        border-radius: 50%;
                        background: #a749ff;
                    }
                }
                
            }

        }

  /****************** Mega menu css ********************/
