// bootstrap link


//google fonts link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";
body{
    background-color: #f6f6f6;
}
.divider{
    width: 1px;
    background-color: rgb(122, 117, 117);
    height: 20px;
}
.icon{
    color: #000;
}
hr{
    margin: 0;
}
.dropdown-position{
    position: relative;
}
.dropdown-position:hover .custom-dropdown{
    display: block;
}
.custom-dropdown{
    display: none;
    position: absolute;
    z-index: 220;
    top: 30px;
    left: 20px;
    width: 125px;
    padding: 8px 12px 10px;
   
    text-align: left;
    opacity: 13;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    
}


// Carousel section

.carousel-control-prev{
    // background-color: blue;
    margin-left: -60px;
}
.carousel-control-next{
    // background-color: blue;
    margin-right: -60px;
}
// .carousel-body{
//     background-color: burlywood;
// }
.carousel-body h3{
    font-size: 20px;
}
.carousel-body h1{
    font-size: 60px;
}
.carousel-body button{
    margin-top: 30px;
}
.img-container{
    height: 100%;
}
.img-container img{
    width: 100%;
    height: auto;
}

// Feature banner card section
.banner-aria{
    margin: 30px 0;
}
.single-banner{
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
}
.single-bannner-content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0 0 40px;
}
.single-bannner-content h1{
    font-family: Cormorant Garamond;
    font-size: 27px;
    font-weight: 600;
    color: #617d05;
    line-height: 30px;
}
.single-bannner-content h3{
    font-family: Cormorant Garamond;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #010101;

}
.single-bannner-content h3 span{
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #617d05;
    position: relative;
    top: 2px;
}
.single-bannner-content .button{
    // font-size: 14px;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #617d05;
    border: 2px solid #617d05;
    border-radius: 100%;
    position: absolute;
    margin-top: 35px;
}





