// bootstrap link


//google fonts link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";

 

body{
    background-color: #f6f6f6;
}

//******* navbar section *********

.divider{
    width: 1px;
    background-color: rgb(122, 117, 117);
    height: 20px;
}
.icon{
    color: #000;
}
hr{
    margin: 0;
}
.dropdown-position{
    position: relative;
}
.dropdown-position:hover .custom-dropdown{
    display: block;
}
.custom-dropdown{
    display: none;
    position: absolute;
    z-index: 220;
    top: 30px;
    left: 20px;
    width: 125px;
    padding: 8px 12px 10px;
   
    text-align: left;
    opacity: 13;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    
}
@import './mega-menu';


// Carousel section

.carousel{
    height: 500px;
}
.carousel-body{
    & h3{
        font-size: 20px;
    }
    & h1{
        font-size: 60px;
    }
    & button{
        margin-top: 30px;
    }
}
.img-container{
    height: 100%;

    & img{
        width: 100%;
        height: auto;
    }
}

// Feature banner card section
.banner-aria{
    margin: 30px 0;
}
.single-banner{
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;

    &:hover img{
        transform: scale(1.3);
        transition: all .5s ease;
    }
    & img{
        transition: all .5s ease;
        transform: scale(1);
        
    }
}
.single-bannner-content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0 0 40px;

    &  h1{
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-weight: 600;
        color: #617d05;
        line-height: 30px;
    }
    & h3{
        font-family: Cormorant Garamond;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #010101;

        & span{
            font-family: Cormorant Garamond;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            color: #617d05;
            position: relative;
            top: 2px;
        }
    
    }
    & .button{
        // font-size: 14px;
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        color: #617d05;
        border: 2px solid #617d05;
        border-radius: 100%;
        position: absolute;
        margin-top: 35px;
    }
}

//******Main daily-deals product section*******

// Daily deals header section
.product-header-section{
    margin: 40px 0;

    // Daily Deals

    & .daily-deals{
        margin-top: 30px;
        h1{
            font-size: 30px;
            font-weight: 600;
            line-height: 36px;
            position: relative;
            display: inline-block;
            text-transform: uppercase;
        }
        h1::after,h1::before{
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            position: absolute;
            background-color: #000;
        }
        h1::after{
            top: 17px;
            right: -100px;
        }
        h1::before{
            top: 17px;
            left: -100px;
        }
    }

    // Tab-section
    & .tab-section{
        margin-top: 20px;

        .nav-link{
            color: #555;
            font-family: poppins;
            font-size: 18px;
            font-weight: 500;
        }
        .active{
            color: black;
        }
    }

}

// ****** Product card section ******
.single-product-card{
    position: relative;

    &:hover .wishlist,&:hover .cart,&:hover .quick-view{
                
        // visibility: visible;
        opacity: 1 !important;
        transform: translateY(0px) !important;
        transition: all .7s ease;
    }

    .product-image-box{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
        }
        .hover{
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            transition: all .7s ease;
            transform: translateY(20px);
            opacity: 0;
        }
        &:hover .hover{
            top: 0;
            left: 0;
            visibility: visible;
            transform: translate(0,0px);
            opacity: 1;
        }
        
// Card btn wrapper

        // &:hover .pro-card-btn-wrapper {
        //     visibility: visible;
        //     opacity: 1;
        //     transform: translateY(-41px);
        //     transition: all .7s ease;
        // }

        
        .pro-card-btn-wrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            
            // transform: translateY(-32px);
            display: flex;
            width: 100%;
            // visibility: hidden;
            // opacity: 0;

            
            
            .wishlist{
                width: 48px;
                border-right: 1px solid hsla(0,0%,100%,.2);
                z-index: 9;
                transform: translateY(25px);
                // visibility: hidden;
                opacity: 0;
                transition-delay: .1s !important;
                transition: all .7s ease;
            }
            .cart{
                font-size: 14px;
                width: calc(100% - 96px);
                z-index: 9;
                transform: translateY(25px);
                // visibility: hidden;
                opacity: 0;
                transition-delay: .2s !important;
                transition: all .7s ease;
            }
            .quick-view{
                transition-delay: .4s !important;
                transition: all .7s ease;
                width: 48px;
                z-index: 9;
                // margin: 0;
                transform: translateY(25px);
                // visibility: hidden;
                opacity: 0;
                transition-delay: .2s;
                border-left: 1px solid hsla(0,0%,100%,.2);
            }
            .wishlist:hover button,.cart:hover button,.quick-view:hover button,{
                transition: all 1s ease;
                background-color: #000;
            }
            button{
    
                line-height: 38px;
                display: block;
                width: 100%;
                height: 48px;
                text-align: center;
                text-transform: capitalize;
                color: #fff;
                border: none;
                background-color: #a749ff;
                transition: all .5s ease;
                // background: none;
            }
        }
        
    }
    // badges
    .product-card-badge{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        .pink{
            font-size: 13px;
            line-height: 13px;
            display: inline-block;
            padding: 4px 12px;
            background-color: #fa6bff;
            border-radius: 3px;
            margin-bottom: 6px;
        }
        .purple{
            font-size: 13px;
            line-height: 13px;
            display: inline-block;
            padding: 4px 12px;
            border-radius: 3px;
            background-color: #a749ff;
        }
    }
    
}
// product-card-content
.product-card-content{
    text-align: center;
    margin-top: 10px;
    padding: 0;
    h3{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0px;
    }
    & h3:hover{
        color: #a749ff;
    }
    
    i{
        font-size: 17px;
        line-height: 17px;
        margin: 0;
    }
    .yellow{
        color: #ffa900;
    }
    .gray{
        color: #5f5d5d;
    }
    .product-price{
        margin: 10px 0 20px 0;
        .current{
            font-size: 15px;
            line-height: 24px;
            position: relative;
            margin-right: 16px;
            &::after{
                content: '';
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 1px;
                top: 10px;
                right: -15px;
                background-color: #000;
            }
        }
        
        .old{
            text-decoration: line-through;
            font-size: 15px;
            line-height: 24px;
        }
    }
}


/**************  Support Card section  **************/

.support-card-section{
    margin: 70px 0 30px 0;

    .support-single-card-item{
        border: 5px solid #fff;
        text-align: center;
        padding: 36px 5px 30px;

        .support-card-img{
            margin: 10px;
        }
        &:hover .support-card-img{
            animation-duration: .4s;
            animation-name: support-animation;
        }
        @keyframes support-animation {
            0%{
                transform: scale(1) rotate(0deg);
            }
            10%, 30%, 50%, 70%, 90% {
                transform: scale(1.3) rotate(3deg);
            }
            20%, 40%, 60%, 80% {
                transform: scale(1.3) rotate(-3deg);
            }
            100%{
                transform: scale(1) rotate(0deg);
            }

        }
        .support-card-content{

            h2{
                font-family: Poppins, sans-serif;
                font-size: 18px;
                line-height: 24px;
                color: #494949;
            }
            h3{
                font-family: Poppins, sans-serif;
                font-size: 14px;
                line-height: 24px;
                color: #6a6a6a;
            }
        }
    }
}

/********** Subscribe section   *********/

.subscribe-section{
    margin-bottom: 40px;

    .subscription-content{
        h1{
            font-family: Poppins, sans-serif;
            font-size: 48px;
            line-height: 36px;
            color: #010101;
        }
        h3{
            font-family: Poppins, sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #696969;
            margin: 25px 0;
        }
        .subscription-email{
            position: relative;

            .subs-mail{
                font-size: 14px;
                height: 45px;
                padding: 2px 50px 2px 0;
                color: #333;
                border: none;
                border-bottom: 2px solid #e2e2e2;
                background: transparent;
                width: 60%;
            }
            span{
                position: absolute;
                display: inline-block;
                top: 0px;
                right: 21%;
                font-size: 34px;
                color: #b8b3b3;
            }
        }

    }
}


/************* Footer section *************/
footer{
    background-color: #f1f1f1;
    padding: 70px 0 50px 0;
}
.flone-footer-section{
    display: flex;
    align-items: center;
    .copy-right{
        img{

        }
        h4{
            font-family: Poppins, sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: #313131;
        }
        span:hover{
            color: #a749ff;
        }
    }
    ul{
        li{
            list-style-type: none;
            font-family: Poppins, sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: #313131;
            margin: 8px 0;
        }
        li:hover{
            color: #a749ff;
        }
        .heading{
            font-family: Poppins, sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #313131;
            font-weight: 600;
        }
        .heading:hover{
            color: #313131;
        }
        .get-updates{
            margin: 8px 0 25px 0;
        }
    }
    .subscribe{
        input{
            margin-left: 33px;
            font-size: 13px;
            padding: 2px 10px 10px 0;
            color: #333;
            border: none;
            border-bottom: 2px solid #ebebeb;
            background: transparent;
            width: 100%;
            margin-bottom: 10px;
        }
        a{
            text-transform: uppercase;
            font-size: 14px;
            margin-left: 33px;
            color: #313131;
        }
        a:hover{
            color: #a749ff;
        }
        
    }


}

/************* Shop Page style *************/
@import './shoppage';
@import './singleProduct';







